@import "../../mixins.scss";

.form {
  display: flex;
  justify-content: center;  
  align-items: center;
  margin: 20px;
  background-color: #e5e6e6;
  min-height: 80vh;

  form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0, 38, 255);

    .title {
      font-size: 19px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 25px;
      @include sm {
        font-size: 22px;
      }
    }
  }
}
